@charset "utf-8";
@import "public.css";
.wrap {
  display: flex;
}
.wrap .wrap_left {
  width: 15%;
}
.wrap .wrap_left .wrap_left_top {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #e9967a;
  font-size: 18px;
  color: #f9f8ff;
  text-align: center;
}
.wrap .wrap_left .wrap_left_bot b {
  margin: 0 4%;
}
.wrap .wrap_left .wrap_left_bot .s1 {
  height: 40px;
  width: 96%;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
}
.wrap .wrap_left .wrap_left_bot .ss1 {
  color: #e9967a;
}
.wrap .wrap_left .wrap_left_bot .s {
  height: 35px;
  line-height: 35px;
  width: 86%;
  font-size: 14px;
}
.wrap .wrap_left .wrap_left_bot .s2 {
  color: #f9f8ff;
  background-color: #e9967a;
}
.wrap .wrap_right {
  width: 85%;
}
.wrap .wrap_right .wrap_right_top {
  box-sizing: border-box;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
}
.wrap .wrap_right .wrap_right_top .b1 {
  font-size: 20px;
  visibility: hidden;
}
.wrap .wrap_right .wrap_right_top .ri {
  display: flex;
  color: #333333;
}
.wrap .wrap_right .wrap_right_top .ri .ri1 {
  display: flex;
  align-items: center;
}
.wrap .wrap_right .wrap_right_top .ri .ri1 img {
  width: 30px;
  margin-right: 8px;
}
.wrap .wrap_right .wrap_right_top .ri .ri2 {
  margin-left: 40px;
}
.wrap .wrap_right .wrap_right_top .ri .ri2 .b2 {
  margin-right: 8px;
  font-size: 20px;
  color: #177acc;
}
.wrap .wrap_right .wrap_right_middle {
  box-sizing: border-box;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  color: #a0522d;
  border-bottom: 1px solid #b0b0b0;
}
.wrap .wrap_right .wrap_right_middle .p_ri {
  display: flex;
}
.wrap .wrap_right .wrap_right_middle .p_ri b {
  margin-left: 10px;
}
.wrap .wrap_right .wrap_right_bot {
  box-sizing: border-box;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 260px;
  background-color: #f5f5f5;
  color: white;
}
.wrap .wrap_right .wrap_right_bot .bot1 {
  position: relative;
  width: 23%;
  height: 125px;
  background-color: #e9967a;
  border-radius: 8px;
  margin-top: 15px;
}
.wrap .wrap_right .wrap_right_bot .bot1 .p1 {
  font-size: 28px;
  margin-left: 15px;
  margin: 15px 0 13px 15px;
}
.wrap .wrap_right .wrap_right_bot .bot1 .p2 {
  font-size: 16px;
  margin-left: 15px;
}
.wrap .wrap_right .wrap_right_bot .bot1 .p3 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 32px;
  line-height: 32px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.wrap .wrap_right .wrap_right_bot .bot1 .p3 b {
  margin-left: 8px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .wrap .wrap_right .wrap_right_bot .bot1 {
    width: 48%;
  }
}
@media screen and (max-width: 767px) {
  .wrap .wrap_left {
    display: none;
  }
  .wrap .wrap_right .wrap_right_top .b1 {
    visibility: visible;
  }
  .wrap .wrap_right .wrap_right_top .ri .ri2 {
    display: none;
  }
  .wrap .wrap_right .wrap_right_bot .bot1 {
    width: 100%;
  }
}
